<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Checkers</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <table>
      <% for(var i = 0; i < 8; i++){ %>
        <tr>
        <% for(var j = 0; j < 8; j++){ %>
          <td></td>
        <% } %>
        </tr>
      <% } %>
    </table>
  </body>
</html>

